<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <%- include partials/_header.ejs %>
  </header>
<body>
  <ul>
    <% for(key in urls) { %>
    <form method="POST" action="/urls/<%= key %>/delete">
    <li><%= key %> - <%= urls[key] %>
  </li>
  <button type="submit" name="delete">Delete</button>
<a href="/urls/<%= key %>">Edit</a>
</form>

  <% } %>
</ul>
<a href ="#">Shortened URL</a>
</body>
</html>